{% extends "layout.html" %}
  
{% block content %}
<center>
  <h2>Log</h2>
  <p>History and detail  </p>
    <table border = '1'>
    <thead>
      <tr>
        <th>APPLICATION no.</th> 
        <th>Employee Id</th> 
        <th>HOD ID</th>  
        <th>DEAN ID</th>  
        <th>DIRECTOR ID</th>  
        <th>FINAL STATUS</th>  
        <th>CLOSING TIME</th>  
      </tr>
    </thead>
    <tbody>
      {% for application in applications %}
        <tr>
          <td>  {{application[0]}}  </td>    
          <td>  {{application[1]}}  </td>    
          <td>  {{application[2]}}  </td>    
          <td>  {{application[3]}}  </td>    
          <td>  {{application[4]}}  </td>    
          <td>  {{application[5]}}  </td>    
          <td>  {{application[6]}}  </td>    
        </tr>
      {% endfor %}
    </tbody>
  </table>
 </center> 
{% endblock %}