{% extends "layout.html" %}

{% block content %}
<h2>Profile</h2>
<!--box 2-->
<div class="columns five card red" onclick="javascript:location.href='Timetablecheck/5cs.html'">
  <span class="fa fa-graduation-cap"></span> <a href="secure/Attendance/view/check.php"></a><br>
  <h5>
    My profile as Faculty</h5>
</div>
<!--box 2-->
<div class="columns five card red" onclick="javascript:location.href='Timetablecheck/5cs.html'">
  <span class="fa fa-graduation-cap"></span> <a href="secure/Attendance/view/check.php"></a><br>
  <h5>
    My profile as super_faculty</h5>
</div>
{% endblock %}